In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data/adult.data.csv", header=0, delimiter=",")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
race = df['race'].value_counts()
race

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [ ]:
average_age_men = df[df['sex']=="Male"]['age'].mean()
average_age_men

39.43354749885268

In [ ]:
percentage_bachelors = (df[df['education']=='Bachelors']['education'].value_counts())/(df['education'].value_counts()) * 100
percentage_bachelors

10th              NaN
11th              NaN
12th              NaN
1st-4th           NaN
5th-6th           NaN
7th-8th           NaN
9th               NaN
Assoc-acdm        NaN
Assoc-voc         NaN
Bachelors       100.0
Doctorate         NaN
HS-grad           NaN
Masters           NaN
Preschool         NaN
Prof-school       NaN
Some-college      NaN
Name: education, dtype: float64

In [ ]:
df['education'].value_counts()

HS-grad         0.322502
Some-college    0.223918
Bachelors       0.164461
Masters         0.052916
Assoc-voc       0.042443
11th            0.036086
Assoc-acdm      0.032769
10th            0.028654
7th-8th         0.019840
Prof-school     0.017690
9th             0.015786
12th            0.013298
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
Name: education, dtype: float64

In [ ]:
mask1 = (df['education'] == 'Bachelors') | (df['education'] == 'Master') | (df['education'] == 'Doctorate')
df_higher_education = df[mask1]
mask2 = df_higher_education['salary'] == '>50K'
df_higher_education[mask2].value_counts('salary')/df_higher_education.value_counts('salary').sum() * 100

In [ ]:
df['hours-per-week'].min()

1

In [ ]:
df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].value_counts('salary')

salary
>50K    2
dtype: int64

In [ ]:
df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].value_counts('salary')/df[df['salary']=='>50K'].value_counts('salary')*100

salary
>50K    0.025507
dtype: float64

In [ ]:
df[df['salary']=='>50K'].value_counts('native-country').drop('?')[0]

7171

In [ ]:
df[df['salary']=='>50K'].value_counts('native-country')[0]/df[df['salary']=='>50K'].value_counts('native-country').sum()*100

22.023279383311323

In [ ]:
df[(df['native-country']=='India') & (df['salary']=='>50K')].value_counts('occupation').index[0]

'Prof-specialty'

In [ ]:
round(df[(df['education']=='Bachelor')].value_counts('education').sum()/df['education'].value_counts().sum()*100,1)

In [ ]:
mask1 = (df['education'] == 'Bachelors') | (df['education'] == 'Master') | (df['education'] == 'Doctorate')
df_higher_education = df[mask1]
mask2 = df_higher_education['salary'] == '>50K'
higher_education_rich = df_higher_education[mask2].value_counts('salary') / df[df['salary']=='>50K'].value_counts('salary') * 100
higher_education_rich

salary
>50K    32.228032
dtype: float64

In [ ]:
round(df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')].value_counts('salary')[1]/df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')].value_counts('salary').sum()*100,1)

17.4